body {
  background-color: #FFDFEF;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #FFF;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.infos h1{
  text-align: center;
  color: #AA60C8;
  
}

.infoLog label {
  color: #AA60C8;
  font-weight: bold;
  margin-bottom: 0.3rem;
  display: block;
}

.infoLog input {
  width: 95%;
  padding: 0.6rem;
  border: 2px solid #D69ADE;
  border-radius: 8px;
  background-color: #FFDFEF;
  color: #333;
  outline: none;
  transition: border 0.3s;
}

.infoLog input:focus {
  border-color: #AA60C8;
}

.linkLog {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.linkLog a {
  text-decoration: none;
  color: #AA60C8;
  transition: color 0.3s;
}

.linkLog a:hover {
  color: #D69ADE;
}

.loginButton {
  background-color: #AA60C8;
  color: #FFF;
  padding: 0.7rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginButton:hover {
  background-color: #D69ADE;
}